<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L.U.C.E. - Il tuo consulente di viaggi AI</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- map style -->
     <style>
        #map {
            height: 100%;
            width: 100%;
        }
     </style>
</head>
<body>
    <header>
        <div class="container header-content">
            <div class="logo">
                L.U.C.E. <span>AI</span>
            </div>
            <nav>
                <ul>
                    <li><a href="./index.html" class="nav-link">Home</a></li>
                    <li><a href="./chatbot.html" class="nav-link active">Chatta con L.U.C.E.</a></li>
                    <li><a href="./faq.html" class="nav-link">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Chatbot Page -->
    <div id="chatbot-page">
        <div class="container">
            <h2 class="section-title">Chat with L.U.C.E.</h2>
            <p style="text-align: center; margin-bottom: 30px;">Ask about flights, hotels, or activities for your next adventure!</p>
            
            <div class="chatbot-container" style="display: block;">
                <div id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script type="text/javascript">
        // VOICEFLOW
        (function(d, t) {
            var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
            v.onload = function() {
                window.voiceflow.chat.load({
                    verify: { projectID: '67c71a57e857ef09d50eb3c1' },
                    url: 'https://general-runtime.voiceflow.com',
                    versionID: 'production',
                    voice: {
                    url: "https://runtime-api.voiceflow.com"
                    }
                }).then(() => {
                    window.voiceflow.chat.open();
                });
            }
            v.src = "https://cdn.voiceflow.com/widget-next/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
        })(document, 'script');


        // LEAFLET
        // markers
        var greenIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var redIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var goldIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-golf.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        // map init
        var map = L.map('map').setView([43.3185, 11.3306], 6);

        // osm layer
        var osm = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        })
        
        osm.addTo(map);

        L.marker([51.5, -0.09], {icon: greenIcon}).addTo(map)
            .bindPopup('A pretty CSS popup.<br> Easily customizable.')
      </script>
</body>
</html>